
:root {
  --red500: #B80000;
  --red400: #EE4E4E;
  --red300: #FF6D60;
  --red200: #FF8D83;
  --red100: #FFBFB9;

  --yellow500: #FFC700;
  --yellow400: #FFDB00;
  --yellow300: #FFF455;
  --yellow200: #FFF78A;
  --yellow100: #FFFAB9;

  --blue500: #26355D;
  --blue400: #219C90;
  --blue300: #98D8AA;
  --blue200: #C2E2CB;
  --blue100: #F9FAFE;
}

* {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('main_bg.svg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--blue500);
  font-size: 16px;

}

header {
  background-color: var(--blue500);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {

  margin-top: 60px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.event-details,
.registration {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; 
}

.event-details img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}

.event-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.event-info p {
  margin-bottom: 10px;
}

.event-meta {
  display: flex;
  flex-direction: column;
}

.event-meta p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.event-meta i {
  color: var(--blue400);
  margin-right: 10px;
}

.registration h1 {
  font-size: 1.75rem;
  margin-bottom: 15px;
  text-align: center;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration select {
  padding: 10px;
  border: 1px solid var(--yellow200);
  border-radius: 6px;
  font-size: 16px;
  background-color: var(--blue500);
  color: var(--blue100);
  margin-bottom: 15px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--red500);
}

.countdown {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue400);
  text-align: center; 
  margin-top: 20px;
}

footer {
  background-color: #2ca398; 
  color: white;
  padding: 15px 0;
  text-align: center;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.left-section p,
.center-section p,
.right-section a {
  margin: 0 10px;
}

.right-section a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 5px;
}

.right-section a:hover {
  color: #26355D; 
}
@media (max-width: 768px) {

  * {
    overflow: visible;
  }

}
.cta-button {
  background-color: #28a745; 
  color: white;              
  border: none;              
  padding: 10px 20px;        
  text-align: center;      
  text-decoration: none;     
  display: inline-block;     
  font-size: 16px;         
  margin: 10px 2px;        
  cursor: pointer;           
  border-radius: 5px;    
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.cta-button:hover {
  background-color: #218838; 
  transform: scale(1.05);    
}

.cta-button:active {
  background-color: #1e7e34; 
}